@use '_partials/reset' as *;
@use '_partials/variables' as *;

body {
    font-family: 'Roboto', sans-serif;
    background: #161b23;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #28374f #f7f9fb;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #f7f9fb;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #28374f;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }